<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>races</title>
  <script src="/js/race.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/object.css">
</head>
<body>
<div class="form-container">
  <form onsubmit="createRace();">
    <h2>Add a race</h2>
    <label for="raceName">race Name:</label>
    <input type="text" name="raceName" id="raceName" required><br><br>

    <label for="raceImage">race Image URL:</label>
    <input type="text" name="raceImage" id="raceImage" required><br><br>

    <label for="raceDescription">race Description:</label><br>
    <textarea name="raceDescription" id="raceDescription" rows="4" cols="50" required></textarea><br><br>

    <input type="submit" value="Create New">
  </form>
  <div class="form-container">
    <input type="submit" value="Update" onclick="updateRace()">
  </div>
</div>
<div class="form-container">
  <label for="search">Search ID</label>
  <input type="number" name="search" id="search" required><br><br>
  <button onclick="find();">Find</button>
  <button onclick="deleteIt();">Delete</button>
</div>

<div>
  <ul id="entry_list"></ul>
</div>

</body>
</html>